[Unit]
Description=Prefect Server Core Service

[Service]
User=prefect
Group=prefect
Type=simple
Restart=always
Environment=CORE_FILE=/opt/prefect-service/server.yml
Environment=UI_FILE=/opt/prefect-service/ui.yml
ExecStartPre=docker-compose -f ${CORE_FILE} -f ${UI_FILE} down --volumes
ExecStart=docker-compose -f ${CORE_FILE} -f ${UI_FILE} up
ExecStop=docker-compose -f ${CORE_FILE} -f ${UI_FILE} down --volumes

[Install]
WantedBy = multi-user.target
